@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background-color: #35363a;
}

@keyframes changeAnimation {
  0%{background-position: left;}
  100%{background-position: right;}
}

.navigation-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-45deg, #275bdc, #4171ec, #84CEEB, #5ab9ea, #8860d0, #7d3afa);
  background-size: 300% 500%;
  position: relative;
  animation: changeAnimation 10s infinite alternate;
}

.headher {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
	cursor: default;
  color: #282828;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 900;
  display: inline;
}

/* Search Bar */

.search-bar {
  display: flex;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #282828;
  background-color: #282828;
  width: 27vw;
  min-width: 18.75rem;
}

.search-input {
  padding-left: 1.625rem;
  background-color: #282828;
  border: 0;
  outline: 0;
  flex: 1;
  border-radius: 6.25rem;
  transition: background-color 0.15s;
  color: white;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 900;
  font-size: 1rem;
}

.search-input:focus {
  background-color: white;
  color: black;
}

.search-button {
  background-color: #282828;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: 0;
}

.search-button:hover {
	opacity: 0.7;
}

.search-button:active {
	opacity: 0.3;
}

/* Flex */

.country-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.country-flex > div {
  flex: 1;
  min-width: 16.875rem;
  max-width: 18.75rem;
	height: auto;
  border-radius: 15px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #282828;
	transition: box-shadow 0.15s;
  position: relative;
  background-clip: padding-box;
  border: solid 4px transparent;
}

.country-flex > div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: linear-gradient(-45deg, #275bdc, #4171ec, #84CEEB, #5ab9ea, #8860d0, #7d3afa);
}

.country-flex > div:hover {
	box-shadow: 0 0 20px white;
}

.country-flex > div > p {
  padding-left: 25%;
  text-align: start;
	cursor: default;
  font-size: large;
  color: white;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.country-flex > div > p:first-child {
  padding-left: 0rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
}

.country-flex > div > div > img {
  height: 60px;
}

.country-flex > div > div {
  text-align: center;
  padding-bottom: 1rem;
}

/* Slider */

.slider-box {
  display: grid;
  grid-template-columns: 1fr 6.25rem 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282828;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #282828;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round::before {
  border-radius: 50%;
}

.slider-paragraph {
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 1.6rem;
  color: #282828;

}

.slider-cell {
  text-align: center;
}