@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background-image: linear-gradient(-45deg, #275bdc, #4171ec, #84CEEB, #5ab9ea, #8860d0, #7d3afa);
  background-size: 300% 850%;
  position: relative;
  animation: changeAnimation 10s infinite alternate;
}

@keyframes changeAnimation {
  0%{background-position: left;}
  100%{background-position: right;}
}

.headher {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
	cursor: default;
  color: #282828;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 900;
}

/* Search Bar */

.container {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  margin-top: 1rem;
}

.search-bar {
  display: flex;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #282828;
  background-color: #282828;
  width: 30vw;
  min-width: 300px;
}

.search-input {
  padding-left: 1.5rem;
  background-color: #282828;
  border: 0;
  outline: 0;
  flex: 1;
  border-radius: 100px;
  transition: background-color 0.15s;
  color: white;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 900;
  font-size: 1rem;
}

.search-input:focus {
  background-color: white;
  color: black;
}

.search-button {
  background-color: #282828;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: 0;
}

.search-button:hover {
	opacity: 0.7;
}

.search-button:active {
	opacity: 0.3;
}

/* Grid */

.country-grid {
  display: grid;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.country-grid > div {
	height: auto;
  border-radius: 5%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #282828;
	transition: box-shadow 0.15s;
}

.country-grid > div:hover {
	box-shadow: 0 0 10px black;
}

.country-grid > div > p {
  text-align: start;
	cursor: default;
  font-size: 1.5rem;
  color: white;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 400;
  
}

/* Slider */

.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.slider-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #282828;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round::before {
  border-radius: 50%;
}

.slider-paragraph {
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 900;
  font-size: 1.6rem;
}

.slider-cell {
  text-align: center;
}